body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  padding-left: 10px;
}

.viewContainer {
  width: 60%;
  margin: auto;
  padding-top: 20px;
}

.error {
  color: #ff0000;
}

.success {
  color: #008000;
}